<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/createCardStyles.css" />
    <title>DevCard</title>
  </head>
  <body>
    <h1>Create your DevCard </h1>
    <form action="/action_page.php">
      <textarea rows="4" cols="50" name="fname" form="usrform" placeholder="Your Full Name"></textarea>
      <textarea rows="4" cols="50" name="about" form="usrform" placeholder="About"></textarea>
      <textarea rows="4" cols="50" name="github" form="usrform" placeholder="GitHub URL"></textarea>
      <textarea rows="4" cols="50" name="twitter" form="usrform" placeholder="Twitter URL"></textarea>
      <textarea rows="4" cols="50" name="books" form="usrform" placeholder="Your Favorite Books"></textarea>
      <textarea rows="4" cols="50" name="artist" form="usrform" placeholder="Your Favorite Artists"></textarea>

      
      <input type="submit" value="Submit">
    </form> 


  </body>
</html>
