<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/luxonauta/luxa@1.1/dist/expanded/luxa.css"
    />
    <link rel="stylesheet" href="../public/createCardStyles.css" />
    <title>DevCard</title>
  </head>
  <body>
    <h1>Create your DevCard </h1>
    <form action="/action_page.php">
      <label for="fname">Your Full Name</label>
      <input type="text" id="full name" name="full name"><br><br>
      <label for="lname">About you</label>
      <input type="text" id="about" name="about"><br><br>
      <label for="lname">GitHub URL</label>
      <input type="text" id="github" name="github"><br><br>
      <label for="lname">Twitter URL</label>
      <input type="text" id="twitter" name="twitter"><br><br>
      <label for="lname">Favorite Books</label>
      <input type="text" id="books" name="books"><br><br>
      <label for="lname">Favorite Artists</label>
      <input type="text" id="artist" name="artists"><br><br>
      
      <input type="submit" value="Submit">
    </form> 


  </body>
</html>
