<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../public/createCardStyles.css" />
    <title>DevCard</title>
  </head>
  <body>
    <h1>Create your DevCard </h1>
    <form action="/action_page.php">
      <textarea rows="4" cols="50" name="fname" form="usrform">Your Full Name </textarea>
      <textarea rows="4" cols="50" name="about" form="usrform">About </textarea>
      <textarea rows="4" cols="50" name="github" form="usrform">GitHub URL </textarea>
      <textarea rows="4" cols="50" name="twitter" form="usrform">Twitter URL </textarea>
      <textarea rows="4" cols="50" name="books" form="usrform">Your Favorite Books </textarea>
      <textarea rows="4" cols="50" name="artist" form="usrform">Your Favorite Artists </textarea>

      
      <input type="submit" value="Submit">
    </form> 


  </body>
</html>
